html{
    scroll-behavior: smooth;
}
body{
    background: rgb(211, 211, 127);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif,cursive;
}